<div class="d-flex align-items-center">
  <h1>Rejoindre un serveur</h1>
  <a mat-raised-button color="primary" routerLink="/multi-details/new">New</a>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Nom du serveur</th>
    <th scope="col">Nom du hôte</th>
    <th scope="col">Nombre de question </th>
    <th scope="col">Nombre de place </th>
    <th scope="col">Rejoindre</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of (students$ | async)" routerLink="/multi-details/{{student.id}}">
    <td>{{ student.firstName }}</td>
    <td>{{ student.lastName }}</td>
    <td>{{ student.place }}</td>
    <td>{{ student.qs }}</td>
    <td>
      <button class="join-button">Rejoindre</button>
    </td>
  </tr>
  </tbody>
</table>
