<ng-container *ngIf="student$ | async; let student">
  <h1>Student's personal data</h1>
  <form (ngSubmit)="save(student)" #studentForm="ngForm">
    <div class="form-group">
      <label for="firstName">Nom du serveur</label>
      <input type="text" class="form-control" id="firstName"
             required
             [(ngModel)]="student.firstName" name="firstName"
             #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine"
           class="alert alert-danger">
        First Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Nom du hôte</label>
      <input type="text" class="form-control" id="lastName"
             required
             [(ngModel)]="student.lastName" name="lastName"
             #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        Last Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="birthDate">Nombre de place</label>
      <input type="date" class="form-control" id="birthDate"
             required
             [ngModel]="student.birthdate | date:'yyyy-MM-dd'" name="birthDate"
             #birthDate="ngModel" >
      <div [hidden]="birthDate.pristine && birthDate.untouched || birthDate.value !== today.toISOString().slice(0, 10)"
           class="alert alert-danger">
        Birthdate is required
      </div>
    </div>




    <button type="submit" mat-raised-button color="primary" [disabled]="!studentForm.form.valid">Save</button>
  </form>

</ng-container>


