<ng-container *ngIf="student$ | async; let student">
  <h1>Serveur</h1>
  <form (ngSubmit)="save(student)" #studentForm="ngForm">
    <div class="form-group">
      <label for="firstName">Nom du serveur</label>
      <input type="text" class="form-control" id="firstName"
             required
             [(ngModel)]="student.firstName" name="firstName"
             #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine"
           class="alert alert-danger">
        le prénom n'est pas valide
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Nom du hôte</label>
      <input type="text" class="form-control" id="lastName"
             required
             [(ngModel)]="student.lastName" name="lastName"
             #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        le nom n'est pas valide
      </div>
    </div>

    <div class="form-group">
      <label for="birthDate">Nombre de place</label>
      <input type="text" class="form-control" id="birthDate"
             required
             [ngModel]="student.birthdate" name="birthDate"
             #birthDate="ngModel" >
      <div [hidden]="birthDate.valid || birthDate.pristine  "
           class="alert alert-danger">
        Le nombre de place n'est pas valide
      </div>
    </div>





    <button type="submit" mat-raised-button color="primary" [disabled]="!studentForm.form.valid">crée</button>
  </form>

</ng-container>


