<ng-container *ngIf="student$ | async; let student">
  <h1>Serveur</h1>
  <form (ngSubmit)="save(student)" #studentForm="ngForm">

    <div class="form-group">
      <label for="firstName">Nom du serveur</label>
      <input type="text" class="form-control" id="firstName"
             required
             [(ngModel)]="student.firstName" name="firstName"
             #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine"
           class="alert alert-danger">
        le prénom n'est pas valide
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Nom du hôte</label>
      <input type="text" class="form-control" id="lastName"
             required
             [(ngModel)]="student.lastName" name="lastName"
             #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine"
           class="alert alert-danger">
        le nom n'est pas valide
      </div>
    </div>

    <div class="form-group">
      <label for="place">Nombre de place</label>
      <input type="text" class="form-control" id="place"
             required
             [(ngModel)]="student.place" name="place"
             #place="ngModel">
      <div [hidden]="place.valid || place.pristine"
           class="alert alert-danger">
        le nom de place n'est pas valide
      </div>
    </div>

    <div class="form-group">
      <label for="qs">Nombre de question</label>
      <input type="text" class="form-control" id="qs"
             required
             [(ngModel)]="student.qs" name="qs"
             #qs="ngModel">
      <div [hidden]="qs.valid || qs.pristine"
           class="alert alert-danger">
        le nom de question n'est pas valide
      </div>
    </div>




    <button type="submit" mat-raised-button color="primary" [disabled]="!studentForm.form.valid">crée</button>
  </form>

</ng-container>


