@use "src/theme";

:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #D3D3D3;

  h1 {
    display: flex;
    color: theme.$common-purple;
    font-size: xx-large;
    margin-right: 100px;
    margin-bottom: 0;
  }

  table {
    margin-top: 20px;
    vertical-align: center;

    tbody {
      :hover {
        cursor: pointer;
      }
    }
  }

  img {
    height: 3rem;
    width: auto;
  }

  .join-button {
    background-color: #4CAF50; /* Vert */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px; /* Coins arrondis */
    transition: background-color 0.3s ease;
  }

  .join-button:hover {
    background-color: #45a049

  }
}
