
<div class="left">


  <span class="title">welcome to league of quiz</span>

  <p>Nous sommes heureux de te présenter un quiz des plus compliqués.
    <img src="assets/dash.gif" class="sun">
  </p>
  <span class="title">Comment cela fonctionne-t-il ?</span>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/10.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Tu vas réaliser un quiz de 10 questions sur la culture générale.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/vainqueur.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Celui qui a un maximum de réponses justes gagne la partie.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/attention.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">⚠️ Attention, les questions peuvent être à l'oral comme à l'écrit, donc reste concentré ☺. </p>
      </div>
    </div>
  </div>
  <p>Pour tout problème, n'hésitez pas à nous contacter afin que nous puissions vous aider au mieux.  </p>
</div>

<div class="right">
  <img src="assets/quizz.jpg">

</div>

